<%- include('../partials/header.ejs') %>
<body style="background-image: url(/images/chris-lee-70l1tDAI6rM-unsplash.jpg);">
    <div class=" h-10 flex justify-center ">
        <div class="home-container">
            <h1 class="text-black text-5xl welcome1">Welcome to</h1>
            <h2 class="text-black text-5xl leaflist animate__animated animate__zoomIn">Leaflist</h2>
            <!-- <img class="welcome" src="/images/welcome-only.png" alt="Welcome to Leaflist"> -->
            <!-- <img class="to" src="/images/to.png" alt="Welcome to Leaflist"> -->
            
            <div class="login-btns">
                <!-- <button class="req-btn">Log in</button> -->
                <!-- <button class="req-btn">Sign up</button> -->
                <button class="req-btn"><a href="/home/log-in">Login</a></button>
                <button class="req-btn"><a href="/home/sign-up">Sign Up</a></button>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>